<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://github.com/avec92/angular-2-user-registration-and-login" target="_top">Angular 2 User Registration and Login on Github</a>
    </p>
    <p>
        <a href="http://github.com/avec92" target="_top">Apoorva Singhal</a>
    </p>
</div>